/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/assets/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpaceGrotesk', Arial, sans-serif;
}

:root {
    --h1-text: 60px;
    --h2-text: 40px;
    --h3-text: 30px;
    --h4-text: 20px;
    --p-text: 18px;
    --green: #b9ff66;
    --dark: #191a23;
    --grey: #f3f3f3;
    --black: black;
}

/* Utility classes */
.u-h1 {
    font-size: var(--h1-text);
}

.u-h2 {
    font-size: var(--h2-text);
}

.u-h3 {
    font-size: var(--h3-text);
}

.u-h4 {
    font-size: var(--h4-text);
}

.u-p {
    font-size: var(--p-text);
}

.u-green {
    color: var(--green);
}

.u-dark {
    color: var(--dark);
}

.u-grey {
    color: var(--grey);
}

.u-black {
    color: var(--black);
}

.u-bg-green {
    background-color: var(--green) !important;
}

.u-bg-dark {
    background-color: var(--dark) !important;
}

.u-bg-grey {
    background-color: var(--grey) !important;
}

.u-bg-black {
    background-color: var(--black) !important;
}

@media (max-width: 767px) {
    :root {
        --h1-text: 43px;
        --h2-text: 36px;
        --h3-text: 26px;
        --h4-text: 18px;
        --p-text: 16px;
    }

    .navbar-brand img {
        width: 100px;
    }
}

.nav-link {
    color: var(--dark);
    font-size: var(--h4-text);
    font-weight: 500;
    margin-inline: 1rem;
}

.nav-link:hover {
    color: var(--green);
}

.navbar-nav .active {
    border: var(--dark) 1px solid;
    width: fit-content;
    border-radius: 0.75rem;
    padding-inline: 1rem;
}

.header-img {
    width: 100%;
}

.header h1 {
    grid-column: 1;
    grid-row: 1;
}

.header img {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}

.btn {
    width: fit-content !important;
    height: fit-content;
    padding-inline: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.75rem;
}

.btn:hover {
    background-color: var(--green) !important;
    color: initial;
}

@media (max-width: 767px) {
    .cta p {
        width: 100% !important;
    }

    .header h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .header img {
        grid-column: 1;
        grid-row: 2;
    }

    .header .btn {
        width: 100% !important;
    }
}

#service .u-h2,
#case-studies .u-h2,
#working-process .u-h2,
#contact-us .u-h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 0.5rem;
    border-radius: 0.3rem;
}

.service-label-text {
    width: fit-content;
    background-color: inherit;
    font-weight: bold;
    font-size: var(--h3-text);
    padding-inline: 0.5rem;
    border-radius: 0.75rem;
}

.service-link-primary {
    color: var(--green);
    aspect-ratio: 1;
    padding: 0.5rem;
    background-color: var(--dark);
    border-radius: 100%;
}

.service-link-secondary {
    color: var(--black);
    aspect-ratio: 1;
    padding: 0.5rem;
    background-color: white;
    border-radius: 100%;
}

#service .card {
    border-radius: 2rem !important;
    filter: drop-shadow(0px 5px var(--dark));
}

#service .card img {
    min-width: 210px;
    min-height: 210px;
}

.cta {
    border-radius: 2rem;
}

.cta-image {
    max-width: 30%;
    top: -13% !important;
    right: -5%;
}

.case-studies-exp {
    border-radius: 2rem;
}

.case-studies-exp p {
    width: 100%;
}

.u-border-inline {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.accordion-button:focus {
    z-index: 3;
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent;
    box-shadow: unset;
}

.accordion-button::after {
    height: 3rem !important;
    width: 3rem !important;
    background-image: url(add.svg) !important;
    background-size: 100% auto !important; /* Adjust the size as needed */
}

.accordion-button:not(.collapsed)::after {
    background-image: url(remove.svg) !important;
}

/*@media (max-width: 376px) {*/
/*    .accordion-button::after {*/
/*        background-size: 50% auto !important; !* Adjust the size as needed *!*/
/*    }*/
/*}*/

.accordion-collapse {
    border-top: #191a23 1px solid;
}

.accordion-item {
    border-radius: 2rem !important;
    filter: drop-shadow(0px 5px var(--dark)) !important;
    margin-top: 3rem !important;
}

.accordion-header,
.accordion-button {
    background-color: transparent !important;
}

#working-process .accordion-item.show {
    background-color: var(--green) !important;
}

.contact-us-form {
    border-radius: 2rem;
}

.footer {
    background-color: black;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

ul {
    list-style: none;
    margin: 0;
}

.sub {
    width: fit-content;
    border-radius: 0.5rem;
}

.invalid-feedback {
    display: block !important;
}
